  /* General styles */
  body {
    font-family: 'Neue Haas Grotesk Text Std', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

section p,
.mb1 {
    padding: 10px;
    font-size: 14px;
    letter-spacing: .03em;
}

.accordion {
    width: 100%;
    max-width: 800px;
    margin: 90px auto;
    color: black;
    background-color: white;
    padding: 10px;
}

.accordion .container {
    position: relative;
}

.accordion .label {
    position: relative;
    padding: 5px 0;
    font-size: 14px;
    color: black;
    cursor: pointer;
    letter-spacing: .03em;
}

.accordion .label::before {
    content: '\02795';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 8px;
    transform: translateY(-50%);
}

.accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 14px;
    text-align: justify;
    width: 100%;
    max-width: 780px;
    overflow: hidden;
    transition: 0.75s;
}

.blog-box {
    width: 100%;
    max-width: 650px;
    background-color: #ffffff;
    border: 1px solid #ececee;
    margin: 0;
}

.blog-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.accordion hr {
    width: 100%;
    margin-left: 0;
    border: 0.5px solid black;
}

.accordion .container.active .content {
    height: 550px;
}

.accordion .container.active .label::before {
    content: "\2796";
}

/* Mobile-specific styles */
@media screen and (max-width: 450px) {
    .accordion {
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }

    .blog-box {
        margin: 20px 10px;
        width: 100%;
        max-width: 35%;
    }
}