/* Minimalistic form styling */

/* Form container */
#leadsForm {
    max-width: 400px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

/* Form inputs and labels */
#leadsForm input[type="text"],
#leadsForm input[type="email"],
#leadsForm input[id="id_salary_range"] {
    width: calc(100% - 16px); /* Adjust padding to maintain width */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 1px;
    box-sizing: border-box;
    display: block;
    height: 40px; /* Set a fixed height for consistency */
}

#leadsForm select[id="id_salary_range"]{
    width: calc(100% - 16px); /* Adjust padding to maintain width */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 1px;
    box-sizing: border-box;
    display: block;
    height: 40px; /* Set a fixed height for consistency */

}



#leadsForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid white; /* Example border for textarea */
    border-radius: 3px;
    box-sizing: border-box;
}

#leadsForm label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%; /* Set label width to 100% */
}



/* Form submit button */
#leadsForm button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-top: 10px; /* Adjust margin as needed */
}

#leadsForm button:hover {
    background-color: #555;
}

#leadsForm label::after {
    content: none; /* Hide the colon */
}